
.pink{
    width: 120px;
    height: 120px;
    background-color: pink;
}
.black{
    width: 120px;
    height: 120px;
    background-color: black;
}
.row{
    display: flex;
}
body{
    border: 5px solid black;
     padding: 5px;
    height: fit-content;
    width: fit-content;
    margin-left: 275px;
    margin-top: 35px;
    

}